<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SampleSuite">
    <test name="RunTestmain">
        <classes>
            <class name="tests.Testmain"/>
        </classes>
    </test>
    <test name="RunTestmaintwo">
        <classes>
            <class name="tests.testmaintwo"/>
        </classes>
    </test>
    <test name="RunAnnotation">
        <classes>
            <class name="tests.AnnotationDemoTest"/>
        </classes>
    </test>
    <test name="RunExtentRepot">
        <classes>
            <class name="tests.testextentreport"/>
        </classes>
    </test>
    <test name="LoginTest">
        <parameter name="username" value="admin"/>
        <parameter name="password" value="admin123"/>
        <classes>
            <class name="tests.ParameterTest"/>
        </classes>
    </test>
    <!--can be set as packages-->
</suite>
